.container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.board-frame {
    height: 520px;
    width: 520px;
    background-color:lightgreen;
}

table {
    border-spacing:0px;
}

.row {
    width:100px;
    margin:0;
    padding:0;
}

.board-square {
    height:50px;
    width:50px;
    border:1px solid grey;
    padding:0;
    margin:0;
    background-color:lightgreen
}

.images {
    display:flex;
    align-items: center;
    justify-content: center;
}

.bug-images {
    width: 15vw;
}

.over {
    background-color:'red'
}